.header__logo {
  padding-left: 20px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 0;
  color: #020202;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__logo:hover {
    opacity: 0.6; }
  .header__logo:active {
    opacity: 0.3; }

.header__logo-image {
  margin-right: 10px; }

.header__toggle {
  width: 40px;
  height: 45px;
  border: none;
  position: absolute;
  right: 10px;
  background-color: #F6F4F6;
  cursor: pointer; }
  .header__toggle:active span {
    opacity: 0.3; }

.toggle__line {
  display: block;
  position: absolute;
  width: 36px;
  height: 2px;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
  background-color: #3b3b3b; }

.toggle__line_first {
  top: 15px; }

.toggle__line_third {
  bottom: 13px; }

.toggle_active .toggle__line_second {
  -webkit-transform: translateX(0px) rotateZ(45deg);
      -ms-transform: translateX(0px) rotate(45deg);
          transform: translateX(0px) rotateZ(45deg);
  width: 34px;
  opacity: 0.1; }

.toggle_active .toggle__line_first {
  width: 34px;
  -webkit-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg); }

.toggle_active .toggle__line_third {
  width: 34px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }

.header__nav, .header__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px; }

.header__nav-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__link-wrapper--first {
  border-top: solid 0.5px #bbbbbb; }

.header__link-wrapper {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  border-bottom: solid 0.5px #bbbbbb;
  height: 48px;
  text-align: center;
  padding-top: 12px;
  text-decoration: none;
  color: #313131;
  font-size: 18px;
  line-height: 24px; }
  .header__link-wrapper:hover {
    opacity: 0.6; }
  .header__link-wrapper:active {
    opacity: 0.3; }

.header__login {
  border: none;
  background-color: #F6F4F6;
  color: white;
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #313131;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25px; }
  .header__login img {
    margin-right: 13px; }
  .header__login:hover {
    opacity: 0.6; }
  .header__login:active {
    opacity: 0.3; }

.header__user-nav {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__login--basket {
  padding-right: 13px; }
  .header__login--basket img {
    margin-right: 12px; }

.header__user-nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__basket-push {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #F73A3A;
  font-size: 10px;
  text-align: center;
  line-height: 12px;
  margin-left: -20px;
  margin-top: -10px;
  margin-right: 12px; }

@media (min-width: 440px) {
  .header__logo {
    font-weight: 500;
    font-size: 17px;
    margin-right: 22%; } }

@media (min-width: 640px) {
  .header__logo {
    font-size: 30px;
    margin-right: 5%; }
  .header__login--tel {
    width: 150px;
    font-size: 15px;
    display: block;
    font-weight: 700; }
  .tel-icon {
    display: none; }
  .header__tel-btn-link {
    color: #020202;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300; }
  .header__login--basket {
    font-size: 16px;
    letter-spacing: 0.25em;
    font-weight: 700; }
  .basket-icon {
    margin-left: 10px; } }

@media (min-width: 940px) {
  .header__user-nav {
    padding-right: 0; }
  .header__nav-wrapper {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 23%;
    margin-top: -50px;
    width: 50%; }
  .header__link-wrapper {
    font-size: 13px;
    border: none; }
  .header__login {
    padding-right: 0; }
  .header__toggle {
    display: none; }
  .header__login img {
    margin: 5px; } }

@media (min-width: 1160px) {
  .header {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px; } }

.main__header-bg {
  background-image: url("../img/header-bg.png");
  background-size: cover;
  background-position: center; }

.main__header {
  min-height: 300px;
  background-color: rgba(82, 53, 84, 0.64);
  padding: 40px 20px 5px 20px;
  text-align: center;
  background-repeat: no-repeat;
  letter-spacing: 0.1em; }

.main__h1 {
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFBFB; }

.main__h2 {
  max-width: 450px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  color: #E0CED7;
  margin-top: 20px;
  margin-bottom: 30px; }

.main__header-btn {
  margin: 0 auto;
  width: 50%;
  max-width: 236px;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-bottom: 40px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 150px; }
  .main__header-btn:hover {
    background-color: #fff;
    color: #000; }
  .main__header-btn:active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.6); }

.form__radio {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.custom-radio {
  position: absolute;
  z-index: 2;
  opacity: 0; }

.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1.5px solid rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: .2s all ease-out;
  -o-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background-size: 50% 50%; }

.custom-radio:not(:disabled) + label:hover::before {
  background-color: rgba(204, 199, 199, 0.6); }

.custom-radio:not(:disabled) + label:hover {
  border-color: #ccc7c7; }

.custom-radio:focus:not(:checked) + label::before {
  border-color: rgba(255, 255, 255, 0.9); }

.custom-radio:checked + label::before {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1.5px solid rgba(204, 199, 199, 0); }

@media (min-width: 500px) {
  .main__h1 {
    padding: 20px 0 10px 0;
    font-size: 25px;
    line-height: 25px; }
  .main__h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px; } }

@media (min-width: 580px) {
  .main__h1 {
    padding: 20px 0 15px 0;
    font-size: 35px;
    line-height: 35px; } }

@media (min-width: 940px) {
  .main__h1 {
    padding: 0;
    margin-top: 130px;
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 50px; }
  .main__h2 {
    margin-bottom: 50px;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.1em;
    max-width: 600px; }
  .main__header-btn {
    height: 70px;
    line-height: 70px;
    margin-bottom: 90px; }
  .main__header {
    padding: 10px 20px 15px 20px; }
  .form__radio {
    margin-bottom: 80px; } }

.product {
  background-color: #F8F8F8;
  padding: 20px 10px; }

.product__btn {
  z-index: 4;
  width: 24px;
  height: 45px;
  border: none;
  position: absolute;
  left: 25px;
  margin-top: -13px;
  background-color: #F8F8F8;
  cursor: pointer; }
  .product__btn:active span {
    opacity: 0.3; }

.btn__line {
  display: block;
  position: absolute;
  width: 24px;
  height: 3px;
  -webkit-transition: .3s all linear;
  -o-transition: .3s all linear;
  transition: .3s all linear;
  background-color: #C4C4C4; }

.btn__line_first {
  top: 15px; }

.btn__line_third {
  bottom: 12px; }

.btn_active .btn__line_second {
  -webkit-transform: translateX(0px) rotateZ(45deg);
      -ms-transform: translateX(0px) rotate(45deg);
          transform: translateX(0px) rotateZ(45deg);
  width: 28px;
  opacity: 0.1; }

.btn_active .btn__line_first {
  width: 28px;
  -webkit-transform: translateY(7px) rotate(45deg);
      -ms-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg); }

.btn_active .btn__line_third {
  width: 28px;
  -webkit-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg); }

.product__catalog-nav {
  display: none;
  position: absolute;
  max-width: 747px;
  width: 80%;
  height: 50%;
  max-height: 285px;
  left: 50%;
  margin-top: 35px;
  margin-left: -45%;
  z-index: 3;
  width: 90%;
  padding: 50px 0;
  background-color: #F8F8F8;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }

.product__nav-list {
  display: none; }

.product__popup-1clmn {
  margin-left: 40px;
  width: 150px; }

.product__list-item a {
  color: #A49D9D;
  font-size: 15px;
  text-decoration: none; }

.product__h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 16px;
  margin-left: 15%;
  font-weight: 500;
  margin-right: 10px; }

.product__nav-list {
  list-style: none;
  padding-left: 20px; }

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product__price-btn {
  margin-right: 10px; }

.product__price-btn, .product__ABC-btn {
  border: none;
  font-size: 12px;
  background-color: #F8F8F8;
  color: #A49D9D;
  text-transform: uppercase; }

.product__category-btn {
  font-size: 18px;
  line-height: 25px;
  border: none;
  background-color: #F8F8F8; }

.product__card-wrapper {
  grid-gap: 20px;
  display: grid;
  margin: 0 auto;
  max-width: 1440px;
  width: 95%;
  margin-top: 50px; }

.product__card {
  margin: 0 auto;
  max-width: 290px;
  display: grid;
  height: 380px;
  grid-template-columns: 1fr 1fr; }
  .product__card:hover {
    height: 382px;
    margin-top: -1px;
    margin-bottom: -1px;
    border: 2px solid #EACAF6;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .product__card:hover .product__buy-btn {
    background-color: #EACAF6; }

.product__img {
  width: auto;
  height: 100%; }

.product__name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 20px;
  color: #A49D9D;
  margin-left: 20px; }

.product__img-wrapper {
  height: 280px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center; }

.product__price {
  height: 45px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 50px;
  text-align: center;
  margin-bottom: 10px; }

.product__buy-btn {
  background-color: #F8F8F8;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 8px;
  margin: 2px; }

.product__buy-btn-img {
  margin-right: 5px; }

.product__category-btn img {
  margin-left: 5px; }

.product__more-btn {
  width: 50%;
  max-width: 300px;
  height: 50px;
  background-color: #EACAF6;
  color: #000;
  font-size: 17px;
  min-width: 200px;
  line-height: 50px;
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

@media (min-width: 600px) {
  .product__card-wrapper {
    grid-template-columns: 1fr 1fr; }
  .product__more-btn {
    grid-column-start: 1;
    grid-column-end: 3; } }

@media (min-width: 1080px) {
  .product__card-wrapper {
    grid-template-columns: 1fr 1fr 1fr; }
  .product__more-btn {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    margin: auto; } }

@media (min-width: 1280px) {
  .product__card-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .product__more-btn {
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    margin: auto; } }

.main__pre-advantages {
  height: 15px;
  width: 100%;
  margin-top: 25px;
  background-color: #EBE7E7; }

.advantages {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #F5F5F5; }

.advantages__list {
  text-align: center;
  list-style: none;
  display: grid;
  grid-gap: 20px; }

.advantages__img {
  margin-bottom: 10px; }

.advantages__description {
  color: #A49D9D; }

@media (min-width: 500px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    width: 95%;
    margin: 0 auto; }
  .advantages__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .advantages__img {
    margin-right: 7%; }
  .advantages__description {
    font-size: 15px;
    line-height: 18px; } }

@media (min-width: 900px) {
  .advantages__list {
    max-width: 1280px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.footer {
  padding-top: 20px;
  background-color: #313131;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.footer__1-collumn {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  list-style: none;
  margin-bottom: 20px; }

.footer__1-collumn p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  color: #A49D9D;
  margin-top: 10px; }

.footer__2-item--header {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 10px; }

.footer__2-collumn {
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
  list-style: none;
  line-height: 38px; }

.footer__2-collumn a {
  text-decoration: none;
  font-size: 15px;
  color: #A49D9D; }

.footer__3-collumn {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 200px;
  margin-top: 10px;
  list-style: none;
  color: #A49D9D;
  margin-left: calc(50vw - 70px); }

.footer__4-column {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  line-height: 55px;
  height: 55px;
  width: 100%;
  background-color: #242222;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #A49D9D;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 18px;
  white-space: pre; }

.footer__4-column a {
  color: #A49D9D; }

@media (min-width: 600px) {
  .footer {
    padding-top: 30px;
    grid-template-columns: 1fr 1fr 1fr; }
  .footer__1-collumn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    grid-column-start: 1;
    grid-column-end: 4; }
  .footer__3-collumn {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 200px;
    margin-top: 30px;
    margin-left: 0; }
  .footer__4-column {
    grid-column-start: 1;
    grid-column-end: 4;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; } }

@media (min-width: 900px) {
  .footer {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .footer__1-collumn {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    grid-column-start: 1;
    grid-column-end: 2; }
  .footer__3-collumn {
    grid-column-start: 4;
    grid-column-end: 5;
    width: 200px;
    margin-top: 30px;
    margin-left: 0; }
  .footer__4-column {
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 50px; } }

.delivery {
  background-color: #F4F4F4;
  margin: 50px 0 80px 0; }

.delivery__h2 {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #020202;
  font-weight: 700;
  text-align: center;
  margin: 30px 0 15px 0; }

.delivery__h2-line {
  width: 113px;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: #D3D3D3; }

.delivery__adv-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  margin-top: 40px;
  max-width: 1185px;
  grid-gap: 40px; }

.delivery__adv {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-height: 265px;
  background-color: #FFFDFD;
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.delivery__h3 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 10px 0; }

.delivery__h3-line {
  width: 118px;
  border: none;
  height: 3px;
  background-color: #EACAF6;
  margin: 0 auto; }

.delivery__description {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #A49D9D;
  margin: 20px 0; }

.delivery__circle {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: #EACAF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 10px; }

@media (min-width: 600px) {
  .delivery__adv-wrapper {
    grid-template-columns: 1fr 1fr; }
  .delivery__adv--3 {
    grid-column-start: 1;
    grid-column-end: 3; } }

@media (min-width: 1080px) {
  .delivery__adv-wrapper {
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr; }
  .delivery__adv--3 {
    grid-column-start: 3;
    grid-column-end: 4; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.page {
  background-color: #F6F4F6;
  color: #313131; }
