@import "blocks/navigation.scss";
@import "blocks/main-header.scss";
@import "blocks/product.scss";
@import "blocks/advantages.scss";
@import "blocks/footer.scss";
@import "blocks/delivery.scss";
@import "mixins.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.page{
  background-color: #F6F4F6;
  color: #313131;
}