.footer{
    padding-top: 20px;
    background-color: #313131;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer__1-collumn{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    list-style: none;
    margin-bottom: 20px;
}
.footer__1-collumn p{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #A49D9D;
    margin-top: 10px;
}
.footer__2-item--header{
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer__2-collumn{
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    list-style: none;
    line-height: 38px;
}
.footer__2-collumn a{
    text-decoration: none;
    font-size: 15px;
    color: #A49D9D;
}
.footer__3-collumn{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 200px;
    margin-top: 10px;
    list-style: none;
    color: #A49D9D;
    margin-left: calc(50vw - 70px);
}
.footer__4-column{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    line-height: 55px;
    height: 55px;
    width: 100%;
    background-color: #242222;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #A49D9D;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    line-height: 18px;
    white-space: pre;
}
.footer__4-column a{
color: #A49D9D;
}
@media (min-width: 600px){
    .footer{
        padding-top: 30px;
        
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer__1-collumn{
        order: 2;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .footer__3-collumn{
        grid-column-start: 3;
        grid-column-end: 4;
        width: 200px;
        margin-top: 30px;
        margin-left: 0;
    }
    .footer__4-column{
        grid-column-start: 1;
        grid-column-end: 4;
        order: 3;
    }

}

@media (min-width: 900px){
    .footer{
        max-width: 1280px;
        margin: 0 auto;
        padding-top: 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .footer__1-collumn{
        order: -1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .footer__3-collumn{
        grid-column-start: 4;
        grid-column-end: 5;
        width: 200px;
        margin-top: 30px;
        margin-left: 0;
    }
    .footer__4-column{
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 50px;
    }
}