.main__header-bg{
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-position: center;
}
.main__header{
    min-height: 300px;
    background-color: rgba(82, 53, 84, 0.64);
    padding: 40px 20px 5px 20px;
    text-align: center;
    background-repeat: no-repeat;
    letter-spacing: 0.1em;
}

.main__h1{
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFBFB;
}

.main__h2{
  max-width: 450px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  color: #E0CED7;
  margin-top: 20px;
  margin-bottom: 30px;
}
.main__header-btn{
  margin: 0 auto;
  width: 50%;
  max-width: 236px;
  height: 50px;
  line-height: 50px;
  display: block;
  margin-bottom: 40px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 150px;
  &:hover{
    background-color: #fff;
    color: #000;
  }
  &:active{
    color: #fff;
    background-color: rgba($color: #fff, $alpha: 0.6);
  }
}

.form__radio{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 92px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .custom-radio {
    position: absolute;
    z-index: 2;
    opacity: 0;
  }
  
  .custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  .custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    margin-right: 9px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .2s all ease-out;
    background-size: 50% 50%;
  }
  
  .custom-radio:not(:disabled)+label:hover::before {
    background-color: rgba(204, 199, 199, 0.6);
  }

  .custom-radio:not(:disabled)+label:hover{
    border-color: rgba(204, 199, 199, 1);
  }
  
  .custom-radio:focus:not(:checked)+label::before {
    border-color: rgba(255, 255, 255, 0.9);
  }
  
  .custom-radio:checked+label::before {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1.5px solid rgba(204, 199, 199, 0);
  }

  @media (min-width: 500px){
    .main__h1{
        padding: 20px 0 10px 0;
        font-size: 25px;
        line-height: 25px;
    }
    .main__h2{
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  @media (min-width: 580px){
    .main__h1{
        padding: 20px 0 15px 0;
        font-size: 35px;
        line-height: 35px;
    }
    
  }

  @media (min-width: 940px){
    .main__h1{
      padding: 0;
      margin-top: 130px;
      margin-bottom: 40px;
        font-size: 50px;
        line-height: 50px;
    }
    .main__h2{
      margin-bottom: 50px;
      font-size: 25px;
      line-height: 35px;
      letter-spacing: 0.1em;
      max-width: 600px;
    }
    .main__header-btn{
      height: 70px;
      line-height: 70px;
      margin-bottom: 90px;
    }
    .main__header{
        padding: 10px 20px 15px 20px;
    }
    .form__radio{
      margin-bottom: 80px;
    }
  }